a2wsgi==1.10.4
ConfigParser==7.0.0
contextlib2==0.6.0.post1
cryptography==3.4.8
curio==1.6
cx_Oracle==8.3.0
Cython==0.29.24
dirty_equals==0.7.1.post0
docutils==0.17.1
docutils==0.17.1
email_validator==2.1.1
eval_type_backport==0.1.3
exceptiongroup==1.2.1
filelock==3.3.1
gunicorn==22.0.0
HTMLParser==0.0.2
httptools==0.6.1
httpx==0.27.0
hypothesis==6.100.1
importlib_metadata==4.8.1
ipython==8.12.3
ipywidgets==7.6.5
itsdangerous==2.0.1
Jinja2==3.1.3
jnius==1.1.0
keyring==23.1.0
multipart==0.2.4
objgraph==3.6.1
orjson==3.10.1
outcome==1.3.0.post0
Pillow==8.4.0
Pillow==10.3.0
protobuf==5.26.1
psutil==5.8.0
pyOpenSSL==21.0.0
pyOpenSSL==24.1.0
pysqlcipher3==1.2.0
pytest==6.2.4
python-dotenv==1.0.1
PyYAML==6.0
PyYAML==6.0.1
railroad==0.5.0
redis==5.0.3
Sphinx==4.2.0
sqlcipher3==0.5.2
thread==1.1.1
toml==0.10.2
tornado==6.1
trio==0.25.0
ujson==4.0.2
urllib3_secure_extra==0.1.0
watchfiles==0.21.0
watchgod==0.8.2
wsproto==1.2.0
xmlrpclib==1.0.1
